[submodule "lib/42_libft"]
	path = lib/42_libft
	url = https://github.com/oliviercosquer/42_libft.git
[submodule "lib/42_get_next_line"]
	path = lib/42_get_next_line
	url = https://github.com/oliviercosquer/42_get_next_line.git
